MetricFetcher/.build
MetricFetcher/.swiftpm/xcode/package.xcworkspace/xcuserdata
Breakpoints_v2.xcbkptlist
node_modules
build
SwiftCommon/.swiftpm/xcode/package.xcworkspace/xcuserdata
MetricsMac/MetricsMac.xcodeproj/project.xcworkspace/xcuserdata
