[submodule "App/Frameworks/ASKCore"]
	path = App/Frameworks/ASKCore
	url = git@github.com:skorulis/ASKCore.git
[submodule "App/Frameworks/ASKDesignSystem"]
	path = App/Frameworks/ASKDesignSystem
	url = git@github.com:skorulis/ASKDesignSystem.git
